dn: cn=config
changetype: modify
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: /etc/ssl/certs/ca_cert.pem
-
replace: olcTLSCertificateFile
olcTLSCertificateFile: /etc/ssl/certs/{{ansible_fqdn}}_cert.pem
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: /etc/ssl/private/{{ansible_fqdn}}_key.pem
-
replace: olcTLSDHParamFile
olcTLSDHParamFile: /etc/ssl/certs/dhparams.pem
-
replace: olcTLSCipherSuite
olcTLSCipherSuite: SECURE256:!AES-256-CBC
-
replace: olcTLSProtocolMin
olcTLSProtocolMin: 3.3

