dn: olcDatabase={1}mdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: {{ openldap_config.suffix }}
-
replace: olcRootDN
olcRootDN: cn=admin,{{ openldap_config.suffix }}
-
replace: olcRootPW
olcRootPW: {{ ldap_master_passwd_hash }}
-
delete: olcAccess
-
add: olcAccess
olcAccess: to attrs=userPassword,shadowLastChange 
 by self write 
 by set="[cn=DomainAdmins,ou=groups,{{ openldap_config.suffix }}]/memberUid & user/uid" write 
 by anonymous auth 
 by * none
-
add: olcAccess
olcAccess: to * 
 by set="[cn=DomainAdmins,ou=groups,{{ openldap_config.suffix }}]/memberUid & user/uid" manage 
 by users read 
 by * none


dn: cn=module{0},cn=config
changetype: modify
add: olcModuleLoad
olcModuleLoad: dynlist


