{%- macro multivalue(name,vlist) -%}
{% for v in vlist -%}
{{name}}: {{v}}
{% endfor -%}
{%- endmacro -%}
{% for objname, objattrs in ldap_tree.iteritems() recursive %}
{% for attr, val in objattrs.iteritems() %}
    {%- if attr != "dit_branch" -%}
      {%- if val is string or val is number -%}
{{attr}}: {{val}}
{% else -%}
{{ multivalue(attr,val) }}
{%- endif -%}
    {%- endif -%}
  {%- endfor %}
  {%- if objattrs.dit_branch is defined %}

{{ loop(objattrs.dit_branch.iteritems()) }}
{% endif %}

{% endfor %}

