[openssl_ca]
# inside of this group only one server allowed
%hostname%

[openldap]
%hostname%

[phpldapadmin]
%hostname%

[bind_master]
# inside of this group only one server allowed
%hostname%

[bind_slave]
# not implemented yet

[nextcloud]
%hostname%

[dovecot]
%hostname%

[exim]
%hostname%

# Obsolete functionalities
[prosody]
%hostname%

[roundcube]
%hostname%
