
options single-request-reopen rotate

domain {{ansible_domain}}
search {{ansible_domain}}

{% if _nameservers is defined %}
{%- for ns in _nameservers %}
nameserver {{ ns }}
{% endfor %}
{% else %}
nameserver {{ hostvars[ groups['bind_master'][0] ].default_ipv4_address }}
{%- for ns in groups['bind_slave'] %}
nameserver {{ hostvars[ns].default_ipv4_address }}
{% endfor %}
{% endif %}

