
    Alias /nextcloud {{ nextcloud_config.install_dir }}/nextcloud

    <Directory {{ nextcloud_config.install_dir }}/nextcloud>
        Options +SymLinksIfOwnerMatch
        AllowOverride All
        Require all granted

        <IfModule mod_dav.c>
          Dav off
        </IfModule>

        SetEnv HOME {{ nextcloud_config.install_dir }}/nextcloud
        SetEnv HTTP_HOME {{ nextcloud_config.install_dir }}/nextcloud

    </Directory>

    Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"

    <Location /.well-known>
        RewriteEngine On

        RewriteRule /(card|cal)dav$ https://%{HTTP_HOST}/nextcloud/remote.php/dav [L,R=301,NC]
        RewriteRule /webfinger$ https://%{HTTP_HOST}/nextcloud/index.php/.well-known/webfinger [L,R=301,NC]
        RewriteRule /nodeinfo$ https://%{HTTP_HOST}/nextcloud/index.php/.well-known/nodeinfo [L,R=301,NC]
   </Location>
