<?php
$AUTOCONFIG = array(
  "dbtype"        => "mysql",
  "dbname"        => "{{owncloud_config.mysql_db}}",
  "dbuser"        => "{{owncloud_config.mysql_user}}",
  "dbpass"        => "{{owncloud_config.mysql_pass}}",
  "dbhost"        => "localhost",
  "dbtableprefix" => "oc_",
  "adminlogin"    => "admin",
  "adminpass"     => "{{owncloud_config.adminpw}}",
  "directory"     => "/usr/share/owncloud/data",
);

