
<IfModule mod_proxy.c>
<Location "/http-bind">

  ProxyPreserveHost On
  ProxyPass "http://localhost:5280/http-bind"
  ProxyPassReverse "http://localhost:5280/http-bind"

</Location>

<Location "/upload">

  Header always set Access-Control-Allow-Origin "https://{{config.internet_domain}}"
  Header always set Access-Control-Allow-Headers "Content-Type"
  Header always set Access-Control-Allow-Methods "OPTIONS, PUT, GET"

  RewriteEngine On

  # modify status code of preflight request
  RewriteCond %{REQUEST_METHOD} OPTIONS
  RewriteRule ^(.*)$ $1 [R=200,L]

  ProxyPreserveHost On
  ProxyPass "http://localhost:5280/upload"
  ProxyPassReverse "http://localhost:5280/upload"

</Location>
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
