<?php
##
## database access settings in php format
##
##
$dbuser='{{roundcube_config.mysql_user}}';
$dbpass='{{roundcube_config.mysql_pass}}';
$basepath='';
$dbname='{{roundcube_config.mysql_db}}';
$dbserver='localhost';
$dbport='';
$dbtype='mysql';
