
# https://wiki2.dovecot.org/LMTP/Exim

ldap_dovecot_lmtp_socket:
  driver = lmtp
  socket = /var/run/dovecot/lmtp
  #maximum number of deliveries per batch, default 1
  batch_max = 200
  #allow suffixes/prefixes (default unset)
  rcpt_include_affixes

  delivery_date_add
  envelope_to_add
  return_path_add

#ldap_devnull:
#  driver = appendfile
#  file = /dev/null
#  group = mail

