 <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ apache_config.internet_domain }}</title>
        <link rel='shortcut icon' type='image/x-icon' href='imgs/favicon.ico' />
        <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css"/>
    </head>

    <body>
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-md-center logo">
                <a href="http://privcore.adrb.pl"><img src="imgs/privcore_logo_black2.png" /></a>
                </div>
            </div>  

            <div class="row ">
                <div class="col-md-12 text-md-center main-text">
                    <h3>Choose your service</h3>
                </div>
            </div>

            <div class="row text-md-center tools-text">
                <div class="col-md-4">
                    <a href="/nextcloud"><img src="imgs/nextcloud.png"  class="img-fluid" /></a>
                    <p><strong>Nextcloud</strong> allows you sharing your files, contacts and calendar with your devices or other peoples.</p>
                </div>

                <div class="col-md-4">
                    <a href="/ldapadmin"><img src="imgs/phpLDAPadmin.png" class="img-fluid" /></a>
                    <p><strong>PhpLdapAdmin</strong> it's a management interface for creating new users, adding email groups and so on...</p>
                </div>

                <div class="col-md-4">
                    <a href="/ldap_passwd.php"><img src="imgs/change_password.png"  class="img-fluid" /></a>
                    <p>Simple self service form.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 text-md-center">
                    <h6>PrivCore - &copy; 2019 -  All Rights Reserved</h6>
                </div>
            </div>

        </div>


    </body>
</html> 
