
#header .logo {
	background-image: url('../img/privcore_logo.png') !important;
	width: 252px !important;
	height: 66px !important;
}
#header .logo-icon {
	background-image: url('../img/privcore_logo_small.png') !important;
	width: 180px !important;
	height: 38px !important;
}
