<IfModule mod_ssl.c>
<VirtualHost _default_:443>

  DocumentRoot /var/www/html

  # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
  # error, crit, alert, emerg.
  # It is also possible to configure the loglevel for particular
  # modules, e.g.
  #LogLevel info ssl:debug

  ErrorLog ${APACHE_LOG_DIR}/{{ansible_fqdn}}-ssl-error.log
  CustomLog ${APACHE_LOG_DIR}/{{ansible_fqdn}}-ssl-access.log combined

  SSLEngine on
  SSLProtocol all -SSLv2 -SSLv3
  SSLCipherSuite HIGH:!MEDIUM:!LOW:!aNULL

  # Server Certificate
  SSLCertificateFile	  /etc/ssl/certs/{{ansible_fqdn}}_cert.pem
  SSLCertificateKeyFile /etc/ssl/private/{{ansible_fqdn}}_key.pem

  # Certificate Authority (CA)
  SSLCACertificateFile /etc/ssl/certs/ca_cert.pem

  # Certificate Revocation Lists (CRL)
  #SSLCARevocationFile /etc/ssl/CA/certs/ca_crl.pem

  BrowserMatch "MSIE [2-6]" \
    nokeepalive ssl-unclean-shutdown \
    downgrade-1.0 force-response-1.0
  BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

</VirtualHost>
</IfModule>

# vim: syntax=apache ts=2 sw=2 sts=2 sr noet
