 <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PrivCore.net</title>
        <link rel='shortcut icon' type='image/x-icon' href='imgs/favicon.ico' />
        <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css"/>
    </head>

    <body>
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-md-center logo">
                <a href="http://privcore.net"><img src="imgs/privcore_logo_black2.png" /></a>
                </div>
            </div>  

            <div class="row ">
                <div class="col-md-12 text-md-center main-text">
                    <h1>What is PrivCore?</h1>
                    <h3>It's automated tool which can help you with deploying IT services,<br> needed in every modern office or home.</h3>
                </div>                      
            </div>
            
            <div class="row ">
                <div class="col-md-12 text-md-center ">
                    <p>It means that you can have all benefits of cloud computing,<br> without sacrificing in exchange your privacy or data security.</p>
                    <p>This has been achieved through a combination of several opensource technologies,<br> which form a coherent whole, in order to provide basic services - the core.</p>
                    <p>All you need is:</p>
                    <ul>
                        <li>stable version of Debian</li>
                        <li>maybe a piece of equipment</li>
                        <li>optionally (but recommended) your own DNS domain</li>
                    </ul>
                   
                </div>                   
            </div>

            <div class="row text-md-center tools-text">
                <div class="col-md-4">
                    <a href="/roundcube"><img src="imgs/roundcube.png"  class="img-fluid" /></a>
                    <p><strong>Roundcube</strong> a powerful e-mail web client. It's also integrated with XMPP and ownCloud.</p>
                </div>

                <div class="col-md-4">
                    <a href="/owncloud"><img src="imgs/owncloud.png"  class="img-fluid" /></a>
                    <p><strong>ownCloud</strong> allows you sharing your files, contacts and calendar with your devices or other peoples.</p>
                </div>

                <div class="col-md-4">
                    <a href="/ldapadmin"><img src="imgs/phpLDAPadmin.png" class="img-fluid" /></a>
                    <p><strong>PhpLdapAdmin</strong> it's a management interface for creating new users, adding email groups and so on...</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-md-center">
                    <h6>PrivCore.net - &copy; 2016 -  All Rights Reserved.</h6>
                </div>
            </div>

        </div>       


    </body>
</html> 
