{%- macro multivalue(name,vlist) -%}
{% for v in vlist -%}
{{name}}: {{v}}
{% endfor -%}
{%- endmacro -%}
{% for attr, val in item.value.iteritems() -%}
{% if val is string or val is number -%}
{{attr}}: {{val}}
{% else -%}
{{ multivalue(attr,val) }}
{%- endif -%}
{% endfor %}

